@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
.bar {
    width: 250px;
    height: 15px;
    background-color: black;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #ffffff;
    border-top: 7px solid rgb(56, 50, 42);
    padding: 10px 10%;
}
.header-img {
    display: none;
}
.header-logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
header ul {
    display: flex;
}
header ul a {
    margin-right: 40px;
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
}
header ul a:last-child {
    margin-right: 0;
}
header ul a:hover {
    background-color: black;
    color: white;
}


.banner {
    background-image: url('../images/bg1.jpg');
    background-position:center;
    background-size: cover;
    display: flex;
    align-items: center;
    height: calc(100vh - 97px);   
}
.banner-color {
    background-color: rgba(0, 0, 0, 0.5) ;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.banner-content {
    padding: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(255, 255, 255);
}
.banner-content h1 {
    font-weight: 400;
    font-size: 25px;
    line-height: 90px;
}
.caes {
    font-size: 90px;
    font-weight: bold;
}
.banner-content-text1 {
    width: 500px;
}


.area1 {
    margin: auto;
    padding-top: 50px;
    background-color: #f1f1f1;
}
.area1 h2 {
    text-align: center;
    font-size: 50px;
}
.area1-divisao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: auto;
    padding: 50px 10%;
    font-size: 14px;
}
.area1-text {
    width: 300px;
    height: 320px;
    padding: 20px;
    background-color: rgb(14, 13, 13);
    color: white;
    border-radius: 8px;
}

.area2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: black;
    color: white;
}
.area2-text {
    padding: 90px 130px;
}
.area2-text h2 {
    font-size: 50px;
    margin-bottom: 20px;
}
.area2-img1 {
    background-image: url('../images/ft1.jpg');
    background-position:center;
    background-size: cover;
    height: 450px;
}
.area2-img2 {
    background-image: url('../images/ft2.jpg');
    background-position:center;
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}


.area3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f1f1f1;
}
.area3-img1 {
    background-image: url('../images/img2.jpg');
    background-position:center;
    background-size: cover;
}
.area3-text {
    padding: 90px 220px;
}
.area3-content {
    margin-top: 20px;
}

.area4 {
    background-color: black;
    color: white;
    padding: 0 10%;
}
.area4-content {
    max-width: 1140px;
    margin: auto;
    display: flex;
    gap: 20px;
}
.area4-icon {
    display: flex;
    gap: 20px;
}
.area4-icon img {
    height: 40px;
}
.area4-social {
    flex: 1;
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}
.area4-qualquercoisa {
    flex: 1;
    background-color: rgb(37, 37, 37);
    padding: 40px;
}
.area4-subscribe {
    padding: 40px;
    flex: 1;
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.area4-subscribe input {
    border: none;
    border-bottom: 1px solid #aeaeae;
    outline: none;
    background: none;
    padding: 10px;
    text-align: center;
    color: white;
}
.button {
    display: inline-block;
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}
.button:hover {
    background-color: orange;
}


@media (min-width:769px) and (max-width: 1025px) {
    .area3-text {
        padding: 90px 50px;
    }
    header ul a {
        margin-right: 20px;
    }
}

@media (min-width:426px) and (max-width:768px) {
    header ul a {
        margin-right: 0px;
    }
    .area3-text {
        padding: 90px 50px;
    }
    .area2-text {
        padding: 90px 50px
    }
    .area2-text h2 {
        font-size: 35px;
    }
    .area2-content p {
        font-size: 14px;
    }
    .area4 {
        padding: 20px 20px;
    }
    .area4-content {
        flex-direction: column;
    }
}
@media (max-width: 425px) {
    .menu {
        display: none;
    }
    .header-img {
        display: block;
    }
    .header-img img {
        width: 35px;
    }
    .banner-content {
        padding: 0 0 0 20px;
    }
    .banner-content-text1 {
        display: none;
    }
    .area2 {
        grid-template-columns: 1fr;
    }
    .area2-text {
        padding: 90px 30px
    }
    .area2-text h2 {
        font-size: 30px;
    }
    .area2-img1 {
        background-image: url('../images/img1.jpg');
        background-position: bottom;
        height: 300px;
    }
    
    .area3 {
        grid-template-columns: 1fr;
    }
    .area3-text {
        padding: 90px 20px;
    }
    .area3-img1 {
        /* grid-column: 1 / 2;
        grid-row: 2 / 3; */
        height: 300px;
    }

    .area4-content {
        flex-direction: column;
    }
    .area4-qualquercoisa,
    .area4-subscribe {
        display: none;
    }
    .area4-social {
        background-color: black;
    }
}
/* FALTA DEIXAR RESPONSIVO PARA CELULAR */

